<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %} {% endblock %}</title>
    {% assets "css_all" %}
    <link rel="stylesheet" href="{{ ASSET_URL }}">
    {% endassets %}
    {% assets "js_all" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
    {% block extra_js %}
    {% endblock %}
</head>
<body>

<!-- NAVIGATION -->
    {% include 'topnav.html' %}
<!-- END NAVIGATION -->

<!-- MAIN WRAPPER -->
    <div class="container container-fluid">
        <div class="page-header">
            <h2 class="uk-heading-bullet">{% block page_title %} {% endblock %}</h2>
        </div>
        <div class="row">
            {% block custom_menu_left %}
            {% endblock %}
            {% block content %}
            {% endblock %}
            {% block custom_menu_right %}
            {% endblock %}
        </div>
    </div>
<!-- END MAIN WRAPPER -->
</body>
</html>